<div th:replace="~{ backend/app :: layout ('Users Page', _, ~{::#main_content}, _) }" xmlns:th="http://www.thymeleaf.org">
    <div class="content-wrapper" id="main_content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>用户列表</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Users</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Admin</td>
                                        <td>admin@example.com</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Alice</td>
                                        <td>alice@example.com</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Bob</td>
                                        <td>bob@example.com</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <div id="pagination-container" class="pt-1">
                            <p class="text-muted p-1">当前第 1 页，总计 1 页，共 N 条记录</p>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">

                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
</div>
