<div th:replace="~{ app :: layout ('过儿的主页', _, ~{::#main_content}, _) }" xmlns:th="http://www.thymeleaf.org">
    <div class="features" id="main_content">
        <div class="feature">
            <div class="container">
                <div class="text-center mb-4">
                    <h2 class="h1 animate__animated animate__fadeInDown">欢迎来到我的主页</h2>
                    <p class="text-primary animate__animated animate__delay-3s animate__lightSpeedOutRight">个人简介</p>
                    <p class="text-info m-auto  animate__animated animate__zoomInUp animate__delay-2s">简介</p>
                </div>
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-left align-self-center">
                        <a class="feature-title h3" href="#" th:href="@{/resume}">简历</a>
                        <p class="lead text-muted">介绍我接触计算机以来的所学所做</p>
                    </div>
                    <div class="col-lg-6 mt-3 mt-lg-0">
                        <div class="text-center" data-aos="zoom-in">
                            <img class="img-fluid shadow" src="../static/img/about/resume.png" th:src="@{/img/about/resume.png}" alt="coding">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-right order-1 order-lg-2 align-self-center">
                        <a class="feature-title" href="/game/deployment">游戏服务器部署</a>
                        <p class="lead text-muted">通过官方提供的文档来搭建自己的服务器</p>
                    </div>
                    <div class="col-lg-6 mt-3 mt-lg-0 order-2 order-lg-1">
                        <div class="text-center" data-aos="zoom-in">
                            <img class="img-fluid shadow" src="../static/img/about/dst.png" th:src="@{/img/about/dst.png}" alt="life">
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="feature">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-right order-1 order-lg-2 align-self-center">
                        <a class="feature-title h3" href="#" th:href="@{/blogs}">博客</a>
                        <p class="lead text-muted">我的文章</p>
                    </div>
                    <div class="col-lg-6 mt-3 mt-lg-0 order-2 order-lg-1">
                        <div class="text-center" data-aos="zoom-in">
                            <img class="img-fluid shadow" src="../static/img/about/img.png" th:src="@{/img/about/img.png}" alt="design">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="feature">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-left align-self-center">
                        <a class="feature-title h3" href="#" th:href="@{https://github.com/sEGuoer}">Github主页</a>
                        <p class="lead text-muted">seguoer的 github 主页</p>
                    </div>
                    <div class="col-lg-6 mt-3 mt-lg-0">
                        <div class="text-center" data-aos="zoom-in">
                            <img class="img-fluid shadow" src="../static/img/about/img_3.png" th:src="@{img/about/img_3.png}" alt="coding">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-right order-1 order-lg-2 align-self-center">
                        <a class="feature-title" href="https://seguoer.github.io/plugInForBilibiliReadingTime/">Bilibili阅读时间统计插件</a>
                        <p class="lead text-muted">适配于分P和合集情况下得知总用时和剩余用时的插件</p>
                    </div>
                    <div class="col-lg-6 mt-3 mt-lg-0 order-2 order-lg-1">
                        <div class="text-center" data-aos="zoom-in">
                            <img class="img-fluid shadow" src="../static/img/about/QQ截图20230808165006.png" th:src="@{/img/about/QQ截图20230808165006.png}" alt="life">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="feature">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-left align-self-center">
                        <a class="feature-title h3" href="#" th:href="@{/pokemon/index}">过儿的宝可"梦"</a>
                        <p class="lead text-muted">Pokemon</p>
                    </div>
                    <div class="col-lg-6 mt-3 mt-lg-0">
                        <div class="text-center" data-aos="zoom-in">
                            <img class="img-fluid shadow" src="../static/img/about/tlmkiaqbkketlmkiaqbkke.jpg" th:src="@{img/about/tlmkiaqbkketlmkiaqbkke.jpg}" alt="coding">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
